{
  "extends": "airbnb-base/legacy",
  "env": {
    "es6": true,
    "jasmine": true,
    "node": true
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "func-names": 0,
    "key-spacing": [2, {
      "beforeColon": false,
      "afterColon": true,
      "mode": "minimum"
    }],
    "max-len": [2, { "code": 80 }],
    "no-continue": 0,
    "no-param-reassign": 0,
    "no-prototype-builtins": 0,
    "no-restricted-syntax": 0,
    "no-unused-expressions": 0,
    "no-use-before-define": 0,
    "semi": [2, "always", { "omitLastInOneLineBlock": true }],
    "vars-on-top": 0
  }
}
